@media screen and (min-width: 1024px) {
    div.tabs li:nth-of-type(1) {
        margin-left: 143px;
    }
}
@media screen and (max-width: 1023px) {
    .container {
        margin: auto 12px;
        overflow: scroll;
    }
}
.title {
    color: #384b6c;
}
div.navbar-menu a.navbar-item.is-active, div.navbar-menu a.navbar-link.is-active {
    background-color: rgba(110, 165, 232, 0.43) !important;
}
.field.is-horizontal.margin-bottom {
    margin-bottom: 1.5rem;
}
.fa.fa-angle-down {
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.fa.fa-angle-down.up {
    -moz-transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
    transform:rotate(-180deg);
}