/* Navigation */

@media (min-width: 1024px) {
    div.tabs li:nth-of-type(1) {
        margin-left: 143px;
    }
}

div.navbar-brand>a.navbar-item.is-hidden-desktop {
    margin-left: auto;
    font-weight: bold;
}