head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title=title + ' - Hartley Properties'
    link(rel='shortcut icon' href='/img/favicon.ico')

    link(rel='stylesheet' href='/css/bulma.css')
    link(rel='stylesheet' href='/css/main.css')
    link(rel='stylesheet' href=`/css/${parent}.css`)
