nav.navbar.is-light(role='navigation' aria-label='main navigation')
    div.navbar-brand
        a.navbar-item(href='/'): img(src='/img/brand.png' alt='Hartley Properties')
        if parent
            a.navbar-item.is-hidden-desktop(href=`/${parent}`) #{parent.charAt(0).toUpperCase() + parent.slice(1)}
        button.button.navbar-burger
            span
            span
            span
    div.navbar-menu
        div.navbar-start
            a.navbar-item(class=(parent === 'dashboard' && 'is-active') href='/') Dashboard
            div.navbar-item.has-dropdown.is-hoverable
                a.navbar-link(class=(parent === 'tenants' && 'is-active') href='/tenants') Tenants
                div.navbar-dropdown
                    a.navbar-item(href='/tenants/search') Search
                        a.navbar-item(href='/tenants/new') New
            div.navbar-item.has-dropdown.is-hoverable
                a.navbar-link(class=(parent === 'employees' && 'is-active') href='/employees') Employees
                div.navbar-dropdown
                    a.navbar-item(href='/employees/search') Search
                    a.navbar-item(href='/employees/new') New
            div.navbar-item.has-dropdown.is-hoverable
                a.navbar-link(class=(parent === 'maintenance' && 'is-active') href='/maintenance') Maintenance
                div.navbar-dropdown
                    a.navbar-item(href='/maintenance/requests') Requests
                    a.navbar-item(href='/maintenance/orders') Orders
                    a.navbar-item(href='/maintenance/vendors') Vendors
            a.navbar-item(class=(parent === 'billing' && 'is-active') href='/billing') Billing
        div.navbar-end
if subheadings && subheadings.length > 0
    div.tabs: ul
        for subheading in subheadings
            li(class=((page ? page === subheading.page : parent === subheading.page) && 'is-active'))
                a(href=subheading.href)=subheading.name