nav.navbar.is-light(role='navigation' aria-label='main navigation')
    div.navbar-brand
        a.navbar-item(href='/'): img(src='/img/brand.png' alt='Hartley Properties')
        a.navbar-item.is-hidden-desktop(href=`/${parent}`) #{parent.charAt(0).toUpperCase() + parent.slice(1)}
        button.button.navbar-burger
            span
            span
            span
    div.navbar-menu
        div.navbar-start
            a.navbar-item(class=(parent === 'dashboard' && 'is-active') href='/') Dashboard
            a.navbar-item(class=(parent === 'tenants' && 'is-active') href='/tenants') Tenants
            a.navbar-item(class=(parent === 'maintenance' && 'is-active') href='/maintenance') Maintenance
            a.navbar-item(class=(parent === 'administration' && 'is-active') href='/administration') Administration
        div.navbar-end
if subheadings && subheadings.length > 0
    div.tabs: ul
        for subheading in subheadings
            li(class=((page ? page === subheading.page : parent === subheading.page) && 'is-active'))
                a(href=subheading.href)=subheading.name