html
    include includes/head
    body
        include includes/navigation
        div.container
            h1.title Welcome, Admin
            div.level
                div.level-item.has-text-centered: div
                    p.heading Late Rent
                    p.title $10,469
                div.level-item.has-text-centered: div
                    p.heading Open Maintenance Requests
                    p.title 53
                div.level-item.has-text-centered: div
                    p.heading Empty Units
                    p.title 26
        include includes/foot