html
    include includes/head
    body
        include includes/navigation
        div.container
            div.level
                div.level-item.has-text-centered: div
                    p.heading Late Rent
                    p.title.monetary=late_rent
                div.level-item.has-text-centered: div
                    p.heading Unassigned Maintenance Orders
                    p.title=unassigned
                div.level-item.has-text-centered: div
                    p.heading Vacant Units
                    p.title=vacant_units
        include includes/foot