html
    include includes/head
    body
        include includes/navigation
        div.container
            div.level
                div.level-item.has-text-centered: div
                    p.heading Late Rent
                    p.title $10,469
                div.level-item.has-text-centered: div
                    p.heading Unassigned Maintenance Orders
                    p.title 53
                div.level-item.has-text-centered: div
                    p.heading Vacant Units
                    p.title 26
        include includes/foot