html
    include includes/head
    body
        include includes/navigation
        div.container
            div.level
                div.level-item.has-text-centered: div
                    p.heading Open Work Orders
                    p.title=open_work_orders
                div.level-item.has-text-centered: div
                    p.heading Open Purchase Orders
                    p.title=open_purchase_orders
        include includes/foot